# Node
node_modules/
/frontend/node_modules/
.next/
/frontend/.next/
out/
/frontend/out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env
/frontend/.env

# Python Caches & Virtual Envs
__pycache__/
*/__pycache__/
*/*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.pytest_cache/

# Databases & User Assets
database/*.db
database/pathfinder.db
pdfs/*.pdf
/pdfs/*.pdf

# OS Metadata
.DS_Store
Thumbs.db
context.md

# Logs
backend/backend_logs.txt
frontend/frontend_logs.txt
*.log

# Production Env
backend/.env.production